@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
  font-family: 'Raleway', sans-serif;
  background-color: #14171a;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item {
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: 16rem;
  border: 1px solid rgb(37, 119, 196);
  border-radius: 6px;
}

.form-submit {
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 4px;
}

.form-submit:hover {
  opacity: 0.6;
}

.logout:hover {
  opacity: 0.6;
}
